<?xml version='1.0' encoding='utf-8'?>
<widget id="com.proven-corporation.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Photo Share</name>
    <description>
      My Apache Cordova hello world program
    </description>
    <icon src="res/icon/meuy.png" />
    <author email="jason.h.smith@gmail.com" href="http://cordova.io">
        Jason Smith
    </author>

    <preference name="CameraUsesGeolocation" value="true" />
    <preference name="SplashScreen" value="res/screen/splash_screen.9.png" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />

    <platform name="browser">
        <splash src="res/screen/splash_screen.9.png" />
    </platform>
    <platform name="ios">
        <splash height="1136" src="res/screen/splash_screen.9.png" width="640" />
        <splash height="1334" src="res/screen/splash_screen.9.png" width="750" />
        <splash height="1920" src="res/screen/splash_screen.9.png" width="1080" />
    </platform>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Console">
        <param name="id" value="org.apache.cordova.console" />
        <param name="installPath" value="org.apache.cordova.console" />
    </feature>
    <feature name="Network Information">
        <param name="id" value="org.apache.cordova.network-information" />
        <param name="installPath" value="org.apache.cordova.network-information" />
    </feature>
    <feature name="Geolocation">
        <param name="id" value="org.apache.cordova.geolocation" />
    </feature>
    <feature name="Device">
        <param name="id" value="org.apache.cordova.device" />
    </feature>
    <feature name="Camera">
        <param name="id" value="org.apache.cordova.camera" />
    </feature>
    <feature name="Splashscreen">
        <param name="id" value="org.apache.cordova.splashscreen" />
    </feature>
    <feature name="StatusBar">
        <param name="id" value="org.apache.cordova.statusbar" />
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
