.ui-content {
  padding-top: 0;
}

.ui-mobile [data-role="page"] {
  /* The entire application page */
  /* padding-top: 20px; */
}

.ui-field-contain > label {
  width: 50%;
  float: left;
}

.ui-field-contain > .ui-flipswitch {
  float: right;
}

[data-role="page"] > [data-role="header"] {
  /* padding-top: 8px; */
}

form#form-photo label {
  margin-top: 1em;
}

img.new-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-height: 300px;
  /* max-width: 300px; */
}

.ui-page-theme-a .ui-bar-inherit {
  margin-top: 0;
}

#search-result {
  clear: both;
  margin-top: 1em;
  margin-bottom: 2em;
}

#search-result h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.ui-grid-a.left-third .ui-block-a { width: 35%; }
.ui-grid-a.left-third .ui-block-b { width: 65%; }

.tag-heading {
  margin-left: 3em;
  margin-bottom: 0;
}
